* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    background: black;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 6px;
}

/* Body para el index */
.index {
    max-width: 100%;
    max-height: 100%;
    background-image: url(./imagen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.index::-webkit-scrollbar {
    width: 15px;
}

.index::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 6px;
}

header {
    width: 95%;
    display: flex;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}


.logo {
    margin: 17px 0 0 50px;
}

.logo a{
    font-size: 35px;
    text-decoration: none;
    color: rosybrown;
    font-family: 'Aboreto', cursive;
}


.navegacion ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: azure;
    font-family: 'Aboreto', cursive;
    text-decoration: none;
    font-size: 20px;
    border: 15px;
}

.menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
}

.sub-menu {
    position: absolute;
    background: #333333;
    width: 110%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    text-align: center;
}

.sub-menu li a {
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Aboreto', cursive;
    font-size: 17px;
    text-decoration: none;
}

.menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}



.nombre {
    margin: 150px;
    color: #fff;
    padding-bottom: 100px;
    font-family: 'Lora', serif;
    
}

.nombre h1 {
    font-size: 70px;
}

.nombre span {
    font-size: 45px;
    margin-left: 30px;
}

.pie-pagina {
    display: flex;
    color: #fff;
    padding: 20px;
    justify-content: space-between;
}

.pie-pagina small {
    width: 25%;
    margin-left: 100px;
}

/*Portafolio*/


.contenedor-porftafolio h1 {
    text-align: center;
    margin-top: 70px;
    text-decoration: none;
    background-color: white;
    font-size: 50px;
    border-radius: 15px;
}

.box {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 100%;
    height: 400px;
    cursor: pointer;
}

.box h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 50px;
}

.box img {
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-radius: 6px;
}
.box:hover >  a img {
    transform: scale(1.1);
    transition: all 500ms ease-out;
}

/*Retratos*/

.contenedor-retratos h1 {
    text-align: center;
    margin-top: 70px;
    text-decoration: none;
    background-color: white;
    font-size: 50px;
    border-radius: 15px;
}

.foto-retrato {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 400px;
    cursor: pointer;
}

.foto-retrato img {
    width: 100%;
    height: 100%;
}
.foto-retrato img:hover {
    transform:scale(1.1);
    transition: all 500ms ease-out;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal3 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal4 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal5 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal6 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal7 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal8 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal9 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal10 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal11 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}
.modal12 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal-conteiner {
    margin: auto;
    width: 90%;
    height: 600px;
    max-width: 800px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    border: 2px solid #fff;
    position: relative;
}


.modal-conteiner img {
    width: 100%;
    height: 100%;
}

.modal-conteiner i {
    position: absolute;
    top: 0;
    font-size: 50px;
    color: red;
    cursor: pointer;
}
.modal-conteiner i:hover {
    color: rgb(202, 0, 0);
    transition: all 500ms ease-out;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
  }  